<html>
<head><title>medicspot geosearch</title></head>
<body>
        <h1>Welcome back to the 90s.</h1>
        <form action="/locations" method="GET">
                <input type="text" name="q" placeholder="Search a location..."/>
                <button type="submit">Submit</button>
        </form>

        <% if (result.err) { %>
                <p><%= result.err %></p>
        <% } %>

        <% if (result.locations && result.locations.length === 0) { %>
                <p>No matches.</p>
        <% } %>

        <% if (result.locations && result.locations.length > 0) { %>
                <ul>
                        <% result.locations.forEach((l) => { %>
                                <li><p>name: <%= l.name %>, lat: <%= l.latitude %>, lon: <%= l.longitude %></p></li>
                        <% }); %>
                </ul>
        <% } %>
</body>
</html>